<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Accounts</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <span th:text="${'Accounts: ' + accounts.size()}"></span>
  <br/>
  <a th:href="@{/accounts/add}" class="ui green button">New Account</a>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Account Name</th>
      <th>Account Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
      <td data-label="Name" th:text="${account.getName()}"></td>
      <td data-label="Type" th:text="${account.getType()}"></td>
      <td data-label="Actions">
        <a th:href="@{/accounts/{accountId}(accountId=${account.getId()})}" class="ui blue button">Select</a>
        <a th:href="@{/accounts/{accountId}/payments(accountId=${account.getId()})}"
           class="ui grey button">Payments</a>
        <form th:action="@{/accounts/{accountId}(accountId=${account.getId()})}"
              th:method="DELETE"
              style="display: inline-block;">
          <input type="submit" class="ui red button" value="Delete"/>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>