<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <h2>Update Account</h2>
  <div class="ui hidden divider"/>
  <form class="ui form" th:action="@{/accounts/{accountId}(accountId=${account.getId()})}"
        th:method="PUT">
    <div class="field required">
      <label>Account Name</label>
      <input th:value="${account.getName()}" type="text" required name="account_name"
             placeholder="Name">
    </div>
    <div class="field required">
      <label>Account Type</label>
      <select class="ui fluid dropdown" type="text" required name="account_type" placeholder="Type">
        <option th:if="${account.getType() == 'Standard'}" value="Standard" selected> Standard
        </option>
        <option th:if="${account.getType() != 'Standard'}" value="Standard"> Standard</option>
        <option th:if="${account.getType() == 'Premium'}" value="Premium" selected> Premium</option>
        <option th:if="${account.getType() != 'Premium'}" value="Premium"> Premium</option>
      </select>
    </div>
    <input class="ui green button" type="submit" value="Submit"/>
  </form>
  <br><br><br>
  <a class="ui blue button"
     th:href="@{/accounts/{accountId}/payments(accountId=${account.getId()})}">Payments</a>
</div>
</body>
</html>