<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>New Account</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <div class="ui hidden divider"/>
  <h2 class="ui header"> Create New Account </h2>
  <form class="ui form" th:action="@{/accounts}" th:method="POST">
    <div class="field required">
      <label>Account Name</label>
      <input type="text" required name="account_name" placeholder="Name">
    </div>
    <div class="field required">
      <label>Account Type</label>
      <select class="ui fluid dropdown" type="text" required name="account_type" placeholder="Type">
        <option value="Standard"> Standard</option>
        <option value="Premium"> Premium</option>
      </select>
    </div>
    <input class="ui green button" type="submit" value="Submit"/>
    <input class="ui button" type="reset" value="Reset"/>
  </form>
</div>
</body>
</html>