<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>AddPayment</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <h2> Add a new payment </h2>
  <form class="ui form" th:action="@{/accounts/{accountId}/payments(accountId=${accountId})}"
        method="POST">
    <input type="hidden" name="accountId" th:value="${accountId}"/>
    <div class="field required">
      <label>Name: </label>
      <input type="text" required name="name" placeholder="Name">
    </div>
    <div class="field required">
      <label>Amount: </label>
      <input type="text" required name="amount" placeholder="Amount">
    </div>
    <div class="field required">
      <label>Type:</label>
      <select type="text" required name="type" placeholder="Type">
        <option value="Incoming"> Incoming</option>
        <option value="Outgoing"> Outgoing</option>
      </select>
    </div>
    <div class="field date-cell required">
      <label> Date (DD-MM-YYYY): </label>
      <input type="text" name="date" placeholder="Date" required
             pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}"><br>
    </div>
    <button class="ui button" type="submit">Submit</button>
    <button class="ui red button" type="reset">Reset</button>
  </form>
</div>
</body>
</html>