<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>AddPayment</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <h2> Add a category </h2>
  <form class="ui form"
        th:action="@{/accounts/{accountId}/payments/{paymentId}/addCategory(accountId=${accountId}, paymentId=${payment.getId()})}"
        method="POST">
    <div class="field required">
      <label>Category: </label>
      <select class="ui dropdown" required="required"
              name="categoryId">
        <option th:each="category : ${categories}" th:value="${category.getId()}"
                th:text="${category.getName()}">
        </option>
      </select>
    </div>
    <button class="ui button" type="submit">Submit</button>
    <button class="ui red button" type="reset">Reset</button>
  </form>
</div>
</body>
</html>