<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <span th:text="${'Payments: ' + payments.size()}"></span>
  <br/>
  <a class="ui green button"
     th:href="@{/accounts/{accountId}/payments/add(accountId=${accountId})}">Add Payment</a>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${payments}">
      <td data-label="Name" th:text="${payment.getName()}"></td>
      <td data-label="Amount" th:text="${payment.getAmount()}"></td>
      <td data-label="Type" th:text="${payment.getType()}"></td>
      <td data-label="Date" th:text="${payment.getDateAsString()}"></td>
      <td data-label="Actions">
        <a class="ui button"
           th:href="@{/accounts/{accountId}/payments/{paymentId}/update(accountId=${accountId}, paymentId=${payment.getId()})}">Update</a>
        <a class="ui button"
           th:href="@{/accounts/{accountId}/payments/{paymentId}/addCategory(accountId=${accountId}, paymentId=${payment.getId()})}">Add
          Category</a>
        <form
            th:action="@{/accounts/{accountId}/payments/{paymentId}(accountId=${accountId}, paymentId=${payment.getId()})}"
            th:method="DELETE"
            style="display: inline-block;">
          <input type="submit" class="ui red button" value="Delete"/>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <h3 th:text="${'Balance: ' + balance}"/>
</div>
</body>
</html>