<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Update Payment</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <h2> Update payment </h2>
  <form class="ui form"
        th:action="@{/accounts/{accountId}/payments/{paymentId}(accountId=${accountId}, paymentId=${payment.getId()})}"
        th:method="PUT">
    <input type="hidden" name="paymentId" th:value="${payment.getId()}"/>
    <input type="hidden" name="accountId" th:value="${payment.getAccountId()}"/>
    <div class="field">
      <label> Name: </label>
      <input type="text" step="any" name="name" th:value="${payment.getName()}">
    </div>
    <div class="field">
      <label> Amount: </label>
      <input type="number" step="any" name="amount" th:value="${payment.getAmount()}">
    </div>
    <div class="field" th:if="${payment.getType()} == 'Incoming'">
      <label> Type: </label>
      <select type="text" name="type" placeholder="Type">
        <option value="Incoming"> Incoming</option>
        <option value="Outgoing"> Outgoing</option>
      </select>
    </div>
    <div class="field" th:if="${payment.getType()} == 'Outgoing'">
      <label> Type: </label>
      <select type="text" name="type" placeholder="Type">
        <option value="Outgoing"> Outgoing</option>
        <option value="Incoming"> Incoming</option>
      </select>
    </div>
    <div class="field date">
      <label> Date (DD-MM-YYYY): </label>
      <input type="text" name="date" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}"
             th:value="${payment.getDateAsString()}"><br>
    </div>
    <button class="ui button" type="submit">Submit</button>
    <button class="ui red button" type="reset">Reset</button>
    <div class="ui hidden divider"></div>
    <strong>Categories</strong>
    <br/>
    <div th:each="paymentCategory : ${paymentCategories} " class="ui label">
      <span th:text="${paymentCategory.getCategory().getName()}"></span>
    </div>
  </form>
</div>
</body>
</html>