<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Add a user</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>

<div th:replace="menu"></div>

<div class="ui container">

  <h3> Add new Category </h3>

  <form class="ui form" th:action="@{/categories}" method="POST">
    <div class="field required">
      <label>Name</label>
      <input type="text" required name="name" placeholder="Category Name">
    </div>
    <div class="field required">
      <label>Description</label>
      <input type="text" required name="description" placeholder="Category Description">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>

</div>

</body>
</html>