<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Categories</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <h3>Categories</h3>
  <a th:if="${user.isAdmin()}" class="ui green button" th:href="@{/categories/add}">Add Category</a>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th th:if="${user.isAdmin()}">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
      <td data-label="Name" th:text="${category.getName()}"></td>
      <td data-label="Description" th:text="${category.getDescription()}"></td>
      <td th:if="${user.isAdmin()}" data-label="Actions">
        <form th:if="${user.isAdmin()}"
              th:action="@{/categories/{categoryId}/update(categoryId=${category.getId()})}"
              method="GET" style="display: inline-block;">
          <input type="hidden" th:value="${category.getId()}" name="category-id"/>
          <input type="submit" class="ui button" value="Edit"/>
        </form>
        <form th:if="${user.isAdmin()}" th:action="@{/categories/delete}" method="POST"
              style="display: inline-block;">
          <input type="hidden" th:value="${category.getId()}" name="category-id"/>
          <input type="submit" class="ui red button" value="Delete"/>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>