<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Add a user</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <form class="ui form" th:action="@{/users/{userId}(userId=${user.getId()})}" th:method="PUT">
    <div class="field required">
      <label>Email</label>
      <input th:value="${user.getEmail()}" type="email" required name="email" placeholder="Email">
    </div>
    <div class="field required">
      <label>First Name</label>
      <input th:value="${user.getFirstname()}" type="text" required name="first-name"
             placeholder="First Name">
    </div>
    <div class="field required">
      <label>Last Name</label>
      <input th:value="${user.getLastname()}" type="text" required name="last-name"
             placeholder="Last Name">
    </div>
    <div class="field required">
      <label>Password</label>
      <input th:value="${user.getPassword()}" type="password" required name="password"
             placeholder="Password">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>
</body>
</html>