<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/semantic.min.css}"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <span th:if="${user.isAdmin()}" th:text="${'Users: ' + users.size()}"></span>
  <br/>
  <a th:if="${user.isAdmin()}" class="ui green button" th:href="@{/users/add}">Add User</a>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td data-label="Email" th:text="${user.getEmail()}"></td>
      <td data-label="First Name" th:text="${user.getFirstname()}"></td>
      <td data-label="Last Name" th:text="${user.getLastname()}"></td>
      <td data-label="Admin" th:text="${user.isAdmin()}"></td>
      <td data-label="Actions">
        <a class="ui blue button"
           th:href="@{/users/{userId}/edit(userId=${user.getId()})}">Edit</a>
        <form th:if="${!user.isAdmin()}" th:action="@{/users/{userId}(userId=${user.getId()})}"
              th:method="DELETE"
              style="display: inline-block;">
          <input type="submit" class="ui red button" value="Delete"/>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>