<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
<div class="ui four item inverted blue menu" style="margin-top: 0px">
  <a th:if="${path == '/accounts'}" class="active item"
     th:href="@{/}">Accounts</a>
  <a th:if="${path != '/accounts'}" class="item" th:href="@{/}">Accounts</a>

  <a th:if="${path == '/categories'}" class="active item" th:href="@{/categories}">Categories</a>
  <a th:if="${path != '/categories'}" class="item" th:href="@{/categories}">Categories</a>

  <a th:if="${path == '/users'}" class="active item" th:href="@{/users}">Users</a>
  <a th:if="${path != '/users'}" class="item" th:href="@{/users}">Users</a>

  <a class="item" th:href="@{/logout}">Logout</a>
</div>
</body>
</html>